<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>iniciar sesin</mat-card-title>
      <mat-card-subtitle>Grupo 7 - Aplicaciones Web 2026</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form (ngSubmit)="login()" #loginForm="ngForm" autocomplete="off">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>correo electronico</mat-label>
          <input
            matInput
            type="email"
            name="username"
            [(ngModel)]="username"
            required
            autocomplete="new-email"
            placeholder="admin@email.com"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            type="password"
            name="password"
            [(ngModel)]="password"
            required
            autocomplete="new-password"
            placeholder="Ingrese su contraseña"
          />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="full-width">
          Iniciar sesion
        </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
