<div class="login-container">
  <h2>Iniciar sesión</h2>

  <form (ngSubmit)="login()" #loginForm="ngForm" autocomplete="off">

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Correo electrónico</mat-label>
      <input
        matInput
        type="email"
        name="username"
        [(ngModel)]="username"
        required
        autocomplete="new-email"
        placeholder="Ingrese su correo electrónico"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        type="password"
        name="password"
        [(ngModel)]="password"
        required
        autocomplete="new-password"
        placeholder="Ingrese su contraseña"
      />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Iniciar sesión
    </button>

  </form>
</div>
